{% extends 'base.html' %}

{% block content %}

<h1>Events</h1>

<a href="{{ url_for('main.create') }}">+ New Event</a>

{% for event in events %}
    <div class="event-container">
        <h3><a href="{{ url_for('main.event_detail', event_id=event.id) }}">{{ event.title }}</a></h3>
        <p><strong>Date and Time:</strong> {{ event.date_and_time.strftime('%A %B %d, %Y at %I:%M %p') }}</p>
        <p><strong>Description:</strong> {{ event.description }}</p>
        <p class="small-text">
            {{ event.guests|length }} attending
        </p>
    </div>
{% else %}
    <p>No events available.</p>
{% endfor %}

{% endblock %}
